<!-- Valid HTML for ejs file -->

<!-- layouts -->
<%- include('header'); -%>

  <div class="box" id="heading">
    <h1>
      <%= listTitle %>
    </h1>
  </div>

  <!-- ul to div and li to p -->
  <div class="box">

    <!-- <li>Order Snacks</li>
        <li>Pickup Snacks</li>
        <li>Eat Snacks</li> -->
    <!-- Add list items -->

    <% for(var i=0; i<newListItems.length; i++){ %>
      <!-- <li><%= newListItems[i] %></li> -->
      <div class="item">
        <!-- checkbox -->
        <!-- <input type="checkbox"> -->
        <input class="label_checkbox" type="checkbox" />
        <p>
          <%= newListItems[i] %>
        </p>
      </div>
      <% } %>
        <form class="item" action="/" method="post">
          <!-- autocomplete = off - no autocomplete recommendations -->
          <input type="text" name="newItem" placeholder="Enter New ToDo Item" autocomplete="off">
          <button type="submit" name="list" value=<%=listTitle %>>+</button>
        </form>
  </div>
  <%- include('footer'); -%>